.layout-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.top-bar {
    background-color: #020202;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
}

.sub-header {
    background-color: #17171A;
    height: 40px;
}

.main-content {
    background-color: #1F1F23;
    display: flex;
    flex: 1;
}

.side-menu {
    width: 250px;
    padding: 20px;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu button {
    width: 100%;
    text-align: left;
    padding: 8px 15px;
    margin: 2px 0;
    background-color: transparent;
    border: none;
    color: #ccc;
    font-size: 14px;
}

.side-menu button:hover {
    background-color: #353535;
}

.profile-section {
    flex: 1;
    padding: 20px;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.edit-btn {
    background-color: #1F1F23;
    color: #ccc;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
}

.edit-btn:hover {
    background-color: #353535;
}

.logout-btn {
    background-color: #020202;
    color: #ccc;
    border: none;
    padding: 3px 5px;
    margin-left: 90%;
    font-size: 14px;
}

.logout-btn:hover {
    background-color: #252525;
}

button {
    border-radius: .66rem;
    height: 20px;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

h1 {
    font-size: 25px;
    color: #1ecd97;
}
.info-group {
    margin-bottom: 30px;
    border-bottom: 1px solid #1ecd97;
    padding-bottom: 20px;
}


.info-group h2 {
    color: #1ecd97;
    font-size: 1.2em;
    margin-bottom: 15px;
}


.info-item {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}


.info-item label {
    min-width: 200px;
    color: #888;
}


.info-item span {
    color: #fff;
}

.info-item label {
    font-size: 14px;
}

.info-item span {
    font-size: 14px;
}
.verification-status {
    margin-left: 10px;
    font-size: 0.9em;
}
.verification-status-data {
    color: #fff;
}
.verified {
    color: #1ecd97;
}

.not-verified {
    color: #cd1e1e;
}


