.layoutcontainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.topbar {
    background-color: #020202;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
}

.subheader {
    background-color: #17171A;
    height: 40px;
}

.maincontent {
    background-color: #1F1F23;
    display: flex;
    flex: 1;
}

.sidemenu {
    width: 250px;
    padding: 20px;
}

.sidemenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidemenu button {
    width: 100%;
    text-align: left;
    padding: 8px 15px;
    margin: 2px 0;
    background-color: transparent;
    border: none;
    color: #ccc;
    font-size: 14px;
}

.sidemenu button:hover {
    background-color: #353535;
}

.profilesection {
    flex: 1;
    padding: 20px;
}

.profileheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.editbtn {
    background-color: #1F1F23;
    color: #ccc;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
}

.editbtn:hover {
    background-color: #353535;
}

.logoutbtn {
    background-color: #020202;
    color: #ccc;
    border: none;
    padding: 3px 5px;
    margin-left: 90%;
    font-size: 14px;
}

.logoutbtn:hover {
    background-color: #252525;
}

button {
    font-size: 14px;
    transition: background-color 0.2s ease;
}

h1 {
    font-size: 25px;
    color: #1ecd97;
}
.infogroup {
    margin-bottom: 30px;
    border-bottom: 1px solid #1ecd97;
    padding-bottom: 20px;
}


.infogroup h2 {
    color: #1ecd97;
    font-size: 1.2em;
    margin-bottom: 15px;
}


.infoitem {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}


.infoitem label {
    min-width: 200px;
    color: #888;
}


.infoitem span {
    color: #fff;
}

.infoitem label {
    font-size: 14px;
}

.infoitem span {
    font-size: 14px;
}
.verificationstatus {
    margin-left: 10px;
    font-size: 0.9em;
}
.verificationstatusdata {
    color: #fff;
}
.verified {
    color: #1ecd97;
}

.notverified {
    color: #cd1e1e;
}


